// Body
$body-bg: #CDB8BD;

// Typography
$font-family-sans-serif: 'Arial', sans-serif;
$font-size-base: 0.7rem;
$line-height-base: 1.9;
$inputBg: #FFFFFF;
$inputText: #747474;
$bg-1: #E3E0DD;
$bg-2: #EEE5DA;
$spinner-color: #a0404b;
